[Unit]
PartOf=opentofu-runner.target
[Install]
WantedBy=opentofu-runner.target
[Service]
ExecStart=/usr/bin/ruby -e sleep
Type=simple
Restart=always
Slice=manageiq.slice
